@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Primary Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral Colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background-color: var(--cream);
}

.card {
    display: flex;
}

.product-image {
    width: 18.75rem;
    height: 28.125rem;
    background-size: cover;
    border-radius: 0.625rem 0 0 0.625rem;
}

.card-content {
    width: 18.75rem;
    height: 28.125rem;
    background-color: white;
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 2.1875rem;
}

p {
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.875rem;
}

h1 {
    font-family: var(--fraunces);
    font-weight: 700;
    line-height: 1;
    color: var(--very-dark-blue);
    margin-bottom: 1.875rem;
}

.description {
    font-family: var(--montserrat);
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.875rem;
}

.price-info {
    margin-bottom: 1.25rem;
}

.price {
    display: inline;
    vertical-align: middle;
    font-family: var(--fraunces);
    font-size: 1.875rem;
    color: var(--dark-cyan);
    margin-right: 0.625rem;
}

.original-price {
    display: inline;
    vertical-align: middle;
    font-family: var(--montserrat);
    color: var(--dark-grayish-blue);
    font-size: 0.875rem;
}

button {
    background-color: var(--dark-cyan);
    color: var(--white);
    font-family: var(--montserrat);
    border: none;
    border-radius: 0.3125rem;
    padding: 0.9375rem 3.75rem;
    transition: background-color 0.2s, cursor 0.2s;
}

button img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* Hover States */
button:hover {
    background-color: hsl(158, 69%, 20%);
    cursor: pointer;
}

/* Mobile Design */
@media only screen and (max-width: 23.5rem) {
    .card {
        flex-direction: column;
    }

    .product-image {
        width: 21.25rem;
        height: 15rem;
        border-radius: 0.625rem 0.625rem 0 0;
    }

    .card-content {
        width: 21.25rem;
        height: 23.125rem;
        padding: 1.875rem 1.5625rem 1.5625rem 1.5625rem;
        border-radius: 0 0 0.625rem 0.625rem;
    }

    p {
        margin-bottom: 0.9375rem;
    }

    h1 {
        margin-bottom: 1.25rem;
    }

    .description {
        margin-bottom: 1.25rem;
    }

    .price-info {
        margin-bottom: 0.625rem;
    }
}
